<html lang="en">
<!-- //////////////////////////////////////////////////////////////////////////// -->
<!--Head-->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Favicon icon-->
    <link href="../../assets/images/favicon.png" type="image/png" rel="icon">
    <!--Browser navbar color for mobile-->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#5165d6">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#5165d6">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#5165d6">
    <!--Page title-->
    <!-- materialize stylesheet -->
    <link href="../../assets/vendors/materialize/materialize.min.css" type="text/css" rel="stylesheet" />
    <!-- google material design icons -->
    <link href="../../assets/vendors/material-icons/material-icons.css" type="text/css" rel="stylesheet" />
    <!-- materializecss data table -->
    <link href="../../assets/vendors/DataTables/media/css/dataTables.materializecss.min.css" type="text/css" rel="stylesheet" />
    <!-- prism syntax highlighter -->
    <link href="../../assets/vendors/prism/prism.css" type="text/css" rel="stylesheet" />
    <!-- materialcss app stylesheet -->
    <link href="../../assets/css/app.css" type="text/css" rel="stylesheet" />
    <!-- materialcss theme stylesheet -->
    <link href="../../assets/css/theme-1.css" type="text/css" rel="stylesheet" />
    <!-- custom  stylesheet -->
    <link href="../../assets/css/style.css" type="text/css" rel="stylesheet" />
     <!-- Font Awsome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<!-- End head-->
<!-- //////////////////////////////////////////////////////////////////////////// -->