/* ////////////////////////////////   custom CSS /////////////////////////////////////////// */

.greyer{
background-color: #d2d2d2;
}

.greyerer{
    background-color: #b6b6b6;
    }

.pad20{
    padding-left : 20px;
}
.pad35{
    padding-left : 30px;
}
.truetype3-font{
    font-family: Truetype-3;
}
/* write your css from here */